*.repo filter=lfs diff=lfs merge=lfs -text
libraries/ filter=lfs diff=lfs merge=lfs -text
chroma_data filter=lfs diff=lfs merge=lfs -text
firmware/reference/ filter=lfs diff=lfs merge=lfs -text
libraries filter=lfs diff=lfs merge=lfs -text
firmware/reference/** filter=lfs diff=lfs merge=lfs -text
libraries/** filter=lfs diff=lfs merge=lfs -text
chroma_data/** filter=lfs diff=lfs merge=lfs -text
libraries/**/* filter=lfs diff=lfs merge=lfs -text
firmware/reference/**/* filter=lfs diff=lfs merge=lfs -text
